.container {
    background-color: rgb(255, 255, 255);

}

.container-img {
    width: 350px;
    
    border-radius: 100%;
    background-color: aqua;
    text-align: center;
    align-items: center;
    padding: 15px;
}



img {
    max-width: 300px;
    border-radius: 50%;
}

.row, .col {
    border: solid 1px black;
}